#buttons {
    text-align: center;
    position:absolute; 
    top: 33%;
}

#buttons button {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: #fff;
    width: 300px;
    padding: 22px;
    margin: 10px auto;
    text-transform: uppercase;
    text-align: center;
}